<div class="container">
	<div class="row" style="margin-top:-40px;margin-bottom:10px;">
		<h3 class="center">Conservative Optimization</h3>
	</div>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-5">
			<h5>
				<p>SPConservation is an online resource for solving distributed and non-distributed optimization problems by implementing a conservative signal processing system over the internet. </p>
				<br />
				<p>Check out the <a ui-sref="opt.overview">Overview</a> page for an introduction or get started with an <a ui-sref="opt.examples">Example</a>.</p>
			</h5>
		</div>
		<div class="col-md-5 center" >

			<img width="70%" ng-src="/assets/img/general-system.png">

		</div>
		<div class="col-md-1"></div>
	</div>

</div>


