<div class="container footer" style="text-align:center;">
	<hr/> 
	<a ui-sref="opt.home">Home</a> 
	<p style="display:inline;">|</p>
	<a ui-sref="opt.overview">Overview</a> 
	<p style="display:inline;">|</p>
	<a ui-sref="opt.examples">Examples</a> 
	<p style="display:inline;">|</p>
	<a ui-sref="opt.learn">Learn More</a> 
	<p style="display:inline;">|</p>
	<!-- <a ui-sref="opt.contribute">Contribute</a>  -->
	<!-- <p style="display:inline;">|</p> -->
	<a ui-sref="opt.contribute">Contact/Contribute</a>
	<p style="display:inline;">|</p>
	<a ui-sref="opt.disclaimer">Disclaimers</a>
<!-- 	<p style="display:inline;">|</p>
	<a ui-sref="opt.terms">Terms</a>
	<p style="display:inline;">|</p>
	<a ui-sref="opt.privacy">Privacy</a> -->
	<p>Copyright &copy; <a href="http://lahlou.mit.edu/" target="_blank">Tarek A Lahlou</a> and <a href="http://tombaran.info/" target="_blank">Thomas A Baran</a> 2015</p>
	<br /><br /><br />
</div>