<div class="container">
	<div class="row" style="margin-top:-40px;margin-bottom:10px;">
		<h3 style="text-align:center;">Contribute</h3>
	</div>
	    <div class="row">
	    		<div class="col-md-1"></div>
	    		<div class="col-sm-6 col-md-5"> 
	    			<p>Reciprocity is a key principle underlying conservative systems. In that spirit, let's open a two-way, constructive dialogue. At this time, the best way to contribute is through constructive feedback and collaboration. </p>
	    			<p>Some suggested reasons for contacting us:</p>
	    			<ul>
	    				<li>Want to feature SPConservation on your blog / invite us to speak at your event?</li>
	    				<li>Want SPConservation to present our work at your event?</li>
	    				<li>Want to collaborate on some aspect of the website?</li>
	    				<li>Want to use a conservative optimizer in your work/research?</li>
	    				<li>Writing a paper and want to use/cite a conservative optimizer?</li>
	    				<li>Need help setting up a distributed system for conservative optimization?</li>
	    				<li>Is there a specific optimization problem you'd like us to add to the examples library?</li>
	    				<li>Does some content need a deeper or more intuitive explanation?</li>
	    			</ul>
	    			<p>There are many interesting and important research questions to be addressed. Want to collaborate with us to start answering them?</p>
	    			
	    		</div>
	    		<div class="col-sm-6 col-md-5">
	    			<p>Please fill out this form completely.</p>
	                <form class="form-horizontal" method="post" action="/partials/contact/email.php">
	                    <fieldset>
	                        <div class="form-group">
	                            <div class="col-xs-12">
	                                <input id="fname" name="name" type="text" placeholder="First + Last Name" class="form-control">
	                            </div>
	                        </div>
	                        
	                        <div class="form-group">
	                            <div class="col-xs-12">
	                                <input id="email" name="email" type="email" placeholder="Email Address" class="form-control">
	                            </div>
	                        </div>

	                        <div class="form-group">
	                            <div class="col-xs-12">
	                                <input id="human" name="human" type="text" placeholder="2+2 = ? (anti-spam)" class="form-control">
	                            </div>
	                        </div>

	                        <div class="form-group">
	                            <div class="col-xs-12">
	                                <textarea class="form-control" id="message" name="message" placeholder="Enter your message here. I'll get back to you within 3-5 business days." rows="10"></textarea>
	                            </div>
	                        </div>

	                        <div class="form-group">
	                            <div class="col-xs-12 text-center">
	                            	<a id="submit" name="submit" type="submit" class="btn-launch" >Submit</a>

	                            	<!-- <input id="submit" class="btn-launch" name="submit" type="submit" value="Submit"> -->
	                            </div>
	                        </div>
	                    </fieldset>
	                </form>
	            </div>
	            <div class="col-md-1"></div>
	    </div>
	</div>

